<h1>Convert <%= @currency_from %></h1>
<p>Go <a href="/">back</a>.</p>

<p>
<ul>
  <% @currency_list.each do |currency| %>
  <li>
    <a href="<%= @currency_from %>/<%= currency %>">Convert 1 <%= @currency_from %> to <%= currency %>...</a>
  </li>
  <% end %>
</ul>>
</p>
